{{- define "main" -}}
{{- $mainCSS := resources.Get "css/main.css" | resources.Fingerprint "md5" -}}
{{- $noscriptCSS := resources.Get "css/noscript.css" | resources.Fingerprint "md5" -}}
{{- $fontawesomeCSS := resources.Get "css/fontawesome-all.min.css" | resources.Fingerprint "md5" -}}

{{- $pic01 := resources.Get "pic01.jpg" -}}
{{- $pic01 := $pic01.Resize (printf "%dx%d webp" $pic01.Width $pic01.Height) -}}

{{- $pic02 := resources.Get "pic02.jpg" -}}
{{- $pic02 := $pic02.Resize (printf "%dx%d webp" $pic02.Width $pic02.Height) -}}

{{- $pic03 := resources.Get "pic03.jpg" -}}
{{- $pic03 := $pic03.Resize (printf "%dx%d webp" $pic03.Width $pic03.Height) -}}

{{- $pic04 := resources.Get "pic04.jpg" -}}
{{- $pic04 := $pic04.Resize (printf "%dx%d webp" $pic04.Width $pic04.Height) -}}


{{- $jqueryminJS := resources.Get "js/jquery.min.js" | resources.Fingerprint "md5" -}}
{{- $jqueryscrollyJS := resources.Get "js/jquery.scrolly.min.js" | resources.Fingerprint "md5" -}}
{{- $browserminJS := resources.Get "js/browser.min.js" | resources.Fingerprint "md5" -}}
{{- $breakpointsminJS := resources.Get "js/breakpoints.min.js" | resources.Fingerprint "md5" -}}
{{- $utilJS := resources.Get "js/util.js" | resources.Fingerprint "md5" -}}
{{- $mainJS := resources.Get "js/main.js" | resources.Fingerprint "md5" -}}

<!--
	Photon by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)


	modified by: ayham (www.ayham.xyz) to be accommodated for www.wsgendb.github.io
-->
<head>
	<title>wsgen</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ $fontawesomeCSS.Permalink }}" type='text/css'/>
	<link rel="stylesheet" href="{{ $mainCSS.Permalink }}" />
	<noscript><link rel="stylesheet" href="{{$noscriptCSS.Permalink}}" /></noscript>
</head>
<body class="is-preload">

	<!-- Header -->
	<section id="header">
		<div class="inner">
			<span class="icon solid major fa-cloud"></span>
			<h1>Innovate <strong>Your</strong> Workflow<br />Using <strong>wsgen</strong></h1>
			<p>wsgen helps you generate A-Level worksheets efficiently,<br />
				optimizing the entire process;<br />
				from downloading papers to export.</p>
			<ul class="actions special">
				<li><a href="#one" class="button scrolly">Discover</a></li>
			</ul>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="main style1">
		<div class="container">
			<div class="row gtr-150">
				<div class="col-6 col-12-medium">
					<header class="major">
						<h2>Batch Download Papers<br />
						with one-click.</h2>
					</header>
					<p>wsgen provides a plethora of options for downloading A-Level papers. Choose your own begin date,
					end date, sessions, and variants for download. Either provide your own hosting server or use the default
					GCEGUIDE website.</p>
				</div>
				<div class="col-6 col-12-medium imp-medium">
					<span class="image fit"><img src="{{ $pic01.Permalink }}" alt="" /></span>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="main style2">
		<div class="container">
		<header class="major">
				<h2>Innovative Worksheet Curation</h2>
			</header>
			<div class="row gtr-150">
				<div class="col-4 col-12-medium">
					<span class="image fit"><img src="{{ $pic02.Permalink}}" alt="" /></span>
					<h3>Fast Paper Search</h3>
					<p>Search for individual paper names to save time.</p>
				</div>
				<div class="col-4 col-12-medium">
					<span class="image fit"><img src="{{ $pic03.Permalink}}" alt="" /></span>
					<h3>Easy Question Picking</h3>
					<p>After choosing a paper, click on questions to toggle them into your worksheet.</p>
				</div>
				<div class="col-4 col-12-medium">
					<span class="image fit"><img src="{{ $pic04.Permalink}}" alt="" /></span>
					<h3>Customizable Export</h3>
					<p>Export with question identifiers export markscheme, or export examiner report. All from a single dialog.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="main style1 special">
		<div class="container">
			<header class="major">
				<h2>Open Beta Testing</h2>
			</header>
			<p>Test drive <strong>wsgendb</strong> for free!<br />(won't last long!)</p>
			<ul class="actions special">
				<li><a href="" class="button wide primary">Download</a></li>
				<li><a href="https://github.com/wsgendb" class="button wide">Learn More</a></li>
			</ul>
		</div>
	</section>

	<!-- Four 
	<section id="four" class="main style2 special">
	</section>-->


	<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="https://www.github.com/wsgendb"><span class="label">GitHub</span></a></li>
			<li><a href="me@ayham.xyz"><span class="label">Email</span></a></li>
		</ul>
	<ul class="copyright">
			<li>&copy; Ayham</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</section>

	<!-- Scripts -->
	<script src="{{ $jqueryminJS.Permalink }}"></script>
	<script src="{{ $jqueryscrollyJS.Permalink }}"></script>
	<script src="{{ $browserminJS.Permalink }}"></script>
	<script src="{{ $breakpointsminJS.Permalink }}"></script>
	<script src="{{ $utilJS.Permalink }}"></script>
	<script src="{{ $mainJS.Permalink }}"></script>

	<html>
</body>
{{ end }}
